<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}{{end}}
      </p>
    </div>

    <nav aria-label="Language">
      <ul class="sidebar-nav">
        <li><span class="current-lang" aria-current="page">{{ .Language.LanguageName }}</span></li>
        {{ range .Translations }}
        <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
      </ul>
    </nav>

    <nav aria-label="Main">
      <ul class="sidebar-nav">
        {{ range .Site.Menus.main -}}
        <li><a href="{{.URL}}" class="sidebar-nav-item{{ if eq .URL $.RelPermalink }} active{{ end }}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
      <ul class="sidebar-nav">
        <li><a href="https://twitter.com/{{ .Site.Params.twitter }}">@{{ .Site.Params.twitter }}</a> </li>
      </ul>
    </nav>
  </div>
</aside>
